kicad/Kunlun-backups
kicad/fp-info-cache
*.kicad_prl
*.log
*.lck
mcu board redesign/kicad/_autosave-*
mcu board redesign/kicad/Kunlun STM32 MCU Board-backups
mcu board redesign/kicad/fabrication-toolkit-options.json
mcu board redesign/kicad/production/backups/
